# ROOT DIR
node_modules
config-next
DO-config-next
bang-k8s-cluster
k8s/todo-sub-backend-secrets.yml


# BACKEND
backend/node_modules
backend/build
backend/.env
backend/dist
kubernetes/backend-secret.yaml
kubernetes/client-secret.yaml
backend/out/

# FRONTEND
frontend/node_modules
frontend/.env*
frontend/.eslintcache

