# ROOT DIR
node_modules
config-next
DO-config-next

# BACKEND
backend/node_modules
backend/.env
backend/dist
kubernetes/backend-secret.yaml
kubernetes/client-secret.yaml
backend/out/

# FRONTEND
client/node_modules
client/.env*
